@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; 
.TodoList{height:250px; overflow-y:scroll;}
.time{color:#ccc;}

.completed{
  text-decoration:line-through !important;
}
.nothing{
  color:#ccc;
  text-align: center;
  padding: 18% 0px;
  font-weight: bolder;

  font-size: 40px; 
}